body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.card h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.card p {
    color: #666;
    line-height: 1.6;
    height: 500px;
    width: 100%;
}

.card a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9em;
}

.card a:hover {
    background-color: #0056b3;
}

.card1{
    background-color: #FF5733;
}

.card2{
    background-color: #33FF57;
}

.card3{
    background-color: #3357FF;
}